[Desktop Entry]
Encoding=UTF-8
Name=Link para Recursos Educacionais Digitais - Plataformas
Type=Link
URL=https://iniciar.educacao.pr.gov.br/plataformas.html
Icon=text-html
